<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.boardserver.mapper.CategoryMapper">
    <select id="getCategory" resultType="com.fastcampus.boardserver.dto.CategoryDTO">
        SELECT *
        FROM CATEGORY
        WHERE ID = #{id}
    </select>

    <select id="getCategories" resultType="hashmap">
        SELECT *
        FROM CATEGORY
        ORDER BY ID
    </select>

    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="id" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
        INSERT INTO CATEGORY (
            ID
          , NAME
#          , CREATE_TIME
        )
        VALUES (
            #{id}
          , #{name}
#          , NOW()
        )
    </insert>

    <update id="updateCategory" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
        UPDATE CATEGORY
        SET NAME = #{name}
#        , UPDATE_TIME = NOW()
        WHERE ID = #{id}
    </update>
    <delete id="deleteCategory">
        DELETE FROM CATEGORY
        WHERE ID = #{id}
    </delete>

</mapper>